builds/
CMakeLists.txt.user
ci_shadervalidator/validateshaders
/tmp/x64-Release/maszyna/windows.obj
/tmp/x64-Release/maszyna/vertex.obj
/tmp/x64-Release/maszyna/vc141.pdb
/tmp/x64-Release/maszyna/vao.obj
/tmp/x64-Release/maszyna/utilities.obj
/tmp/x64-Release/maszyna/uitranscripts.obj
/tmp/x64-Release/maszyna/uilayer.obj
/tmp/x64-Release/maszyna/ubo.obj
/tmp/x64-Release/maszyna/uart.obj
/tmp/x64-Release/maszyna/TrkFoll.obj
/tmp/x64-Release/maszyna/translation.obj
/tmp/x64-Release/maszyna/Train.obj
/tmp/x64-Release/maszyna/TractionPower.obj
/tmp/x64-Release/maszyna/Traction.obj
/tmp/x64-Release/maszyna/Track.obj
/tmp/x64-Release/maszyna/Timer.obj
/tmp/x64-Release/maszyna/Texture.obj
/tmp/x64-Release/maszyna/sun.obj
/tmp/x64-Release/maszyna/stdafx.obj
/tmp/x64-Release/maszyna/stb_vorbis.obj
/tmp/x64-Release/maszyna/station.obj
/tmp/x64-Release/maszyna/stars.obj
/tmp/x64-Release/maszyna/Spring.obj
/tmp/x64-Release/maszyna/sound.obj
/tmp/x64-Release/maszyna/sn_utils.obj
/tmp/x64-Release/maszyna/skydome.obj
/tmp/x64-Release/maszyna/sky.obj
/tmp/x64-Release/maszyna/simulationtime.obj
/tmp/x64-Release/maszyna/simulationstateserializer.obj
/tmp/x64-Release/maszyna/simulationsounds.obj
/tmp/x64-Release/maszyna/simulationenvironment.obj
/tmp/x64-Release/maszyna/simulation.obj
/tmp/x64-Release/maszyna/shader.obj
/tmp/x64-Release/maszyna/Segment.obj
/tmp/x64-Release/maszyna/scenenodegroups.obj
/tmp/x64-Release/maszyna/scenenode.obj
/tmp/x64-Release/maszyna/sceneeditor.obj
/tmp/x64-Release/maszyna/scene.obj
/tmp/x64-Release/maszyna/scenarioloadermode.obj
/tmp/x64-Release/maszyna/ResourceManager.obj
/tmp/x64-Release/maszyna/renderer.obj
/tmp/x64-Release/maszyna/renderbuffer.obj
/tmp/x64-Release/maszyna/query.obj
/tmp/x64-Release/maszyna/PyInt.obj
/tmp/x64-Release/maszyna/precipitation.obj
/tmp/x64-Release/maszyna/postfx.obj
/tmp/x64-Release/maszyna/PoKeys55.obj
/tmp/x64-Release/maszyna/pbo.obj
/tmp/x64-Release/maszyna/particles.obj
/tmp/x64-Release/maszyna/parser.obj
/tmp/x64-Release/maszyna/openglskydome.obj
/tmp/x64-Release/maszyna/openglrenderer.obj
/tmp/x64-Release/maszyna/openglprecipitation.obj
/tmp/x64-Release/maszyna/openglparticles.obj
/tmp/x64-Release/maszyna/openglmatrixstack.obj
/tmp/x64-Release/maszyna/opengllight.obj
/tmp/x64-Release/maszyna/openglgeometrybank.obj
/tmp/x64-Release/maszyna/openglcolor.obj
/tmp/x64-Release/maszyna/openglcamera.obj
/tmp/x64-Release/maszyna/opengl33skydome.obj
/tmp/x64-Release/maszyna/opengl33renderer.obj
/tmp/x64-Release/maszyna/opengl33precipitation.obj
/tmp/x64-Release/maszyna/opengl33particles.obj
/tmp/x64-Release/maszyna/opengl33light.obj
/tmp/x64-Release/maszyna/opengl33geometrybank.obj
/tmp/x64-Release/maszyna/Oerlikon_ESt.obj
/tmp/x64-Release/maszyna/network.obj
/tmp/x64-Release/maszyna/Names.obj
/tmp/x64-Release/maszyna/mtable.obj
/tmp/x64-Release/maszyna/Mover.obj
/tmp/x64-Release/maszyna/moon.obj
/tmp/x64-Release/maszyna/Model3d.obj
/tmp/x64-Release/maszyna/messaging.obj
/tmp/x64-Release/maszyna/message.obj
/tmp/x64-Release/maszyna/MemCell.obj
/tmp/x64-Release/maszyna/MdlMngr.obj
/tmp/x64-Release/maszyna/material.obj
/tmp/x64-Release/maszyna/maszyna.tlog/rc.write.1.tlog
/tmp/x64-Release/maszyna/maszyna.tlog/rc.read.1.tlog
/tmp/x64-Release/maszyna/maszyna.tlog/rc.command.1.tlog
/tmp/x64-Release/maszyna/maszyna.tlog/maszyna.write.1u.tlog
/tmp/x64-Release/maszyna/maszyna.tlog/maszyna.lastbuildstate
/tmp/x64-Release/maszyna/maszyna.tlog/link.write.1.tlog
/tmp/x64-Release/maszyna/maszyna.tlog/link.read.1.tlog
/tmp/x64-Release/maszyna/maszyna.tlog/link.command.1.tlog
/tmp/x64-Release/maszyna/maszyna.tlog/CL.write.1.tlog
/tmp/x64-Release/maszyna/maszyna.tlog/CL.read.1.tlog
/tmp/x64-Release/maszyna/maszyna.tlog/CL.command.1.tlog
/tmp/x64-Release/maszyna/maszyna.tlog
/tmp/x64-Release/maszyna/maszyna.res
/tmp/x64-Release/maszyna/maszyna.log
/tmp/x64-Release/maszyna/manager.obj
/tmp/x64-Release/maszyna/LPT.obj
/tmp/x64-Release/maszyna/Logs.obj
/tmp/x64-Release/maszyna/lightarray.obj
/tmp/x64-Release/maszyna/ladderlogic.obj
/tmp/x64-Release/maszyna/keyboardinput.obj
/tmp/x64-Release/maszyna/imgui_widgets.obj
/tmp/x64-Release/maszyna/imgui_impl_opengl3.obj
/tmp/x64-Release/maszyna/imgui_impl_opengl2.obj
/tmp/x64-Release/maszyna/imgui_impl_glfw.obj
/tmp/x64-Release/maszyna/imgui_draw.obj
/tmp/x64-Release/maszyna/imgui.obj
/tmp/x64-Release/maszyna/hamulce.obj
/tmp/x64-Release/maszyna/glsl_common.obj
/tmp/x64-Release/maszyna/Globals.obj
/tmp/x64-Release/maszyna/glad.obj
/tmp/x64-Release/maszyna/geometrybank.obj
/tmp/x64-Release/maszyna/Gauge.obj
/tmp/x64-Release/maszyna/gamepadinput.obj
/tmp/x64-Release/maszyna/frustum.obj
/tmp/x64-Release/maszyna/friction.obj
/tmp/x64-Release/maszyna/framebuffer.obj
/tmp/x64-Release/maszyna/Float3d.obj
/tmp/x64-Release/maszyna/fence.obj
/tmp/x64-Release/maszyna/EvLaunch.obj
/tmp/x64-Release/maszyna/Event.obj
/tmp/x64-Release/maszyna/eu07.obj
/tmp/x64-Release/maszyna/eu07-x64.pch
/tmp/x64-Release/maszyna/editoruipanels.obj
/tmp/x64-Release/maszyna/editoruilayer.obj
/tmp/x64-Release/maszyna/editormouseinput.obj
/tmp/x64-Release/maszyna/editormode.obj
/tmp/x64-Release/maszyna/editorkeyboardinput.obj
/tmp/x64-Release/maszyna/DynObj.obj
/tmp/x64-Release/maszyna/dumb3d.obj
/tmp/x64-Release/maszyna/driveruipanels.obj
/tmp/x64-Release/maszyna/driveruilayer.obj
/tmp/x64-Release/maszyna/drivermouseinput.obj
/tmp/x64-Release/maszyna/drivermode.obj
/tmp/x64-Release/maszyna/driverkeyboardinput.obj
/tmp/x64-Release/maszyna/Driver.obj
/tmp/x64-Release/maszyna/dictionary.obj
/tmp/x64-Release/maszyna/cubemap.obj
/tmp/x64-Release/maszyna/Console.obj
/tmp/x64-Release/maszyna/command.obj
/tmp/x64-Release/maszyna/Camera.obj
/tmp/x64-Release/maszyna/Button.obj
/tmp/x64-Release/maszyna/buffer.obj
/tmp/x64-Release/maszyna/audiorenderer.obj
/tmp/x64-Release/maszyna/audio.obj
/tmp/x64-Release/maszyna/asio.obj
/tmp/x64-Release/maszyna/application.obj
/tmp/x64-Release/maszyna/AnimModel.obj
/tmp/x64-Release/maszyna/AirCoupler.obj
/tmp/x64-Release/maszyna
/tmp/x64-Debug/maszyna/windows.obj
/tmp/x64-Debug/maszyna/vertex.obj
/tmp/x64-Debug/maszyna/vc141.pdb
/tmp/x64-Debug/maszyna/vao.obj
/tmp/x64-Debug/maszyna/utilities.obj
/tmp/x64-Debug/maszyna/uitranscripts.obj
/tmp/x64-Debug/maszyna/uilayer.obj
/tmp/x64-Debug/maszyna/ubo.obj
/tmp/x64-Debug/maszyna/uart.obj
/tmp/x64-Debug/maszyna/TrkFoll.obj
/tmp/x64-Debug/maszyna/translation.obj
/tmp/x64-Debug/maszyna/Train.obj
/tmp/x64-Debug/maszyna/TractionPower.obj
/tmp/x64-Debug/maszyna/Traction.obj
/tmp/x64-Debug/maszyna/Track.obj
/tmp/x64-Debug/maszyna/Timer.obj
/tmp/x64-Debug/maszyna/Texture.obj
/tmp/x64-Debug/maszyna/sun.obj
/tmp/x64-Debug/maszyna/stdafx.obj
/tmp/x64-Debug/maszyna/stb_vorbis.obj
/tmp/x64-Debug/maszyna/station.obj
/tmp/x64-Debug/maszyna/stars.obj
/tmp/x64-Debug/maszyna/Spring.obj
/tmp/x64-Debug/maszyna/sound.obj
/tmp/x64-Debug/maszyna/sn_utils.obj
/tmp/x64-Debug/maszyna/skydome.obj
/tmp/x64-Debug/maszyna/sky.obj
/tmp/x64-Debug/maszyna/simulationtime.obj
/tmp/x64-Debug/maszyna/simulationstateserializer.obj
/tmp/x64-Debug/maszyna/simulationsounds.obj
/tmp/x64-Debug/maszyna/simulationenvironment.obj
/tmp/x64-Debug/maszyna/simulation.obj
/tmp/x64-Debug/maszyna/shader.obj
/tmp/x64-Debug/maszyna/Segment.obj
/tmp/x64-Debug/maszyna/scenenodegroups.obj
/tmp/x64-Debug/maszyna/scenenode.obj
/tmp/x64-Debug/maszyna/sceneeditor.obj
/tmp/x64-Debug/maszyna/scene.obj
/tmp/x64-Debug/maszyna/scenarioloadermode.obj
/tmp/x64-Debug/maszyna/ResourceManager.obj
/tmp/x64-Debug/maszyna/renderer.obj
/tmp/x64-Debug/maszyna/renderbuffer.obj
/tmp/x64-Debug/maszyna/query.obj
/tmp/x64-Debug/maszyna/PyInt.obj
/tmp/x64-Debug/maszyna/precipitation.obj
/tmp/x64-Debug/maszyna/postfx.obj
/tmp/x64-Debug/maszyna/PoKeys55.obj
/tmp/x64-Debug/maszyna/pbo.obj
/tmp/x64-Debug/maszyna/particles.obj
/tmp/x64-Debug/maszyna/parser.obj
/tmp/x64-Debug/maszyna/openglskydome.obj
/tmp/x64-Debug/maszyna/openglrenderer.obj
/tmp/x64-Debug/maszyna/openglprecipitation.obj
/tmp/x64-Debug/maszyna/openglparticles.obj
/tmp/x64-Debug/maszyna/openglmatrixstack.obj
/tmp/x64-Debug/maszyna/opengllight.obj
/tmp/x64-Debug/maszyna/openglgeometrybank.obj
/tmp/x64-Debug/maszyna/openglcolor.obj
/tmp/x64-Debug/maszyna/openglcamera.obj
/tmp/x64-Debug/maszyna/opengl33skydome.obj
/tmp/x64-Debug/maszyna/opengl33renderer.obj
/tmp/x64-Debug/maszyna/opengl33precipitation.obj
/tmp/x64-Debug/maszyna/opengl33particles.obj
/tmp/x64-Debug/maszyna/opengl33light.obj
/tmp/x64-Debug/maszyna/opengl33geometrybank.obj
/tmp/x64-Debug/maszyna/Oerlikon_ESt.obj
/tmp/x64-Debug/maszyna/network.obj
/tmp/x64-Debug/maszyna/Names.obj
/tmp/x64-Debug/maszyna/mtable.obj
/tmp/x64-Debug/maszyna/Mover.obj
/tmp/x64-Debug/maszyna/moon.obj
/tmp/x64-Debug/maszyna/Model3d.obj
/tmp/x64-Debug/maszyna/messaging.obj
/tmp/x64-Debug/maszyna/message.obj
/tmp/x64-Debug/maszyna/MemCell.obj
/tmp/x64-Debug/maszyna/MdlMngr.obj
/tmp/x64-Debug/maszyna/material.obj
/tmp/x64-Debug/maszyna/maszyna.tlog/rc.write.1.tlog
/tmp/x64-Debug/maszyna/maszyna.tlog/rc.read.1.tlog
/tmp/x64-Debug/maszyna/maszyna.tlog/rc.command.1.tlog
/tmp/x64-Debug/maszyna/maszyna.tlog/maszyna.write.1u.tlog
/tmp/x64-Debug/maszyna/maszyna.tlog/maszyna.lastbuildstate
/tmp/x64-Debug/maszyna/maszyna.tlog/link.write.1.tlog
/tmp/x64-Debug/maszyna/maszyna.tlog/link.read.1.tlog
/tmp/x64-Debug/maszyna/maszyna.tlog/link.command.1.tlog
/tmp/x64-Debug/maszyna/maszyna.tlog/CL.write.1.tlog
/tmp/x64-Debug/maszyna/maszyna.tlog/CL.read.1.tlog
/tmp/x64-Debug/maszyna/maszyna.tlog/CL.command.1.tlog
/tmp/x64-Debug/maszyna/maszyna.tlog
/tmp/x64-Debug/maszyna/maszyna.res
/tmp/x64-Debug/maszyna/maszyna.log
/tmp/x64-Debug/maszyna/manager.obj
/tmp/x64-Debug/maszyna/LPT.obj
/tmp/x64-Debug/maszyna/Logs.obj
/tmp/x64-Debug/maszyna/lightarray.obj
/tmp/x64-Debug/maszyna/ladderlogic.obj
/tmp/x64-Debug/maszyna/keyboardinput.obj
/tmp/x64-Debug/maszyna/imgui_widgets.obj
/tmp/x64-Debug/maszyna/imgui_impl_opengl3.obj
/tmp/x64-Debug/maszyna/imgui_impl_opengl2.obj
/tmp/x64-Debug/maszyna/imgui_impl_glfw.obj
/tmp/x64-Debug/maszyna/imgui_draw.obj
/tmp/x64-Debug/maszyna/imgui.obj
/tmp/x64-Debug/maszyna/hamulce.obj
/tmp/x64-Debug/maszyna/glsl_common.obj
/tmp/x64-Debug/maszyna/Globals.obj
/tmp/x64-Debug/maszyna/glad.obj
/tmp/x64-Debug/maszyna/geometrybank.obj
/tmp/x64-Debug/maszyna/Gauge.obj
/tmp/x64-Debug/maszyna/gamepadinput.obj
/tmp/x64-Debug/maszyna/frustum.obj
/tmp/x64-Debug/maszyna/friction.obj
/tmp/x64-Debug/maszyna/framebuffer.obj
/tmp/x64-Debug/maszyna/Float3d.obj
/tmp/x64-Debug/maszyna/fence.obj
/tmp/x64-Debug/maszyna/EvLaunch.obj
/tmp/x64-Debug/maszyna/Event.obj
/tmp/x64-Debug/maszyna/eu07.obj
/tmp/x64-Debug/maszyna/eu07-x64.pch
/tmp/x64-Debug/maszyna/editoruipanels.obj
/tmp/x64-Debug/maszyna/editoruilayer.obj
/tmp/x64-Debug/maszyna/editormouseinput.obj
/tmp/x64-Debug/maszyna/editormode.obj
/tmp/x64-Debug/maszyna/editorkeyboardinput.obj
/tmp/x64-Debug/maszyna/DynObj.obj
/tmp/x64-Debug/maszyna/dumb3d.obj
/tmp/x64-Debug/maszyna/driveruipanels.obj
/tmp/x64-Debug/maszyna/driveruilayer.obj
/tmp/x64-Debug/maszyna/drivermouseinput.obj
/tmp/x64-Debug/maszyna/drivermode.obj
/tmp/x64-Debug/maszyna/driverkeyboardinput.obj
/tmp/x64-Debug/maszyna/Driver.obj
/tmp/x64-Debug/maszyna/dictionary.obj
/tmp/x64-Debug/maszyna/cubemap.obj
/tmp/x64-Debug/maszyna/Console.obj
/tmp/x64-Debug/maszyna/command.obj
/tmp/x64-Debug/maszyna/Camera.obj
/tmp/x64-Debug/maszyna/Button.obj
/tmp/x64-Debug/maszyna/buffer.obj
/tmp/x64-Debug/maszyna/audiorenderer.obj
/tmp/x64-Debug/maszyna/audio.obj
/tmp/x64-Debug/maszyna/asio.obj
/tmp/x64-Debug/maszyna/application.obj
/tmp/x64-Debug/maszyna/AnimModel.obj
/tmp/x64-Debug/maszyna/AirCoupler.obj
/tmp/x64-Debug/maszyna
/tmp
/ref/ref.7z
/ref/glfw/lib/msvc-15.0/x86/glfw3dll.lib
/ref/glfw/lib/msvc-15.0/x86/glfw3.lib
/ref/glfw/lib/msvc-15.0/x86
/ref/glfw/lib/msvc-15.0/x64/glfw3dll.lib
/ref/glfw/lib/msvc-15.0/x64/glfw3.lib
/ref/glfw/lib/msvc-15.0/x64
/ref/glfw/lib/msvc-15.0
/ref
/build64/ZERO_CHECK.vcxproj.filters
/build64/ZERO_CHECK.vcxproj
/build64/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/build64/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/build64/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/build64/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/build64/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog
/build64/x64/Release/ZERO_CHECK/ZERO_CHECK.log
/build64/x64/Release/ZERO_CHECK
/build64/lib/Release/eu07-x64_2021-02-13.lib
/build64/lib/Release/eu07-x64_2021-02-13.exp
/build64/lib/Release
/build64/geninc/version_info.h
/build64/geninc
/build64/eu07.vcxproj.filters
/build64/eu07.vcxproj
/build64/eu07.sln
/build64/eu07.dir/Release/windows.obj
/build64/eu07.dir/Release/vr_interface.obj
/build64/eu07.dir/Release/vertex.obj
/build64/eu07.dir/Release/vehicle_picker.obj
/build64/eu07.dir/Release/vehicleparams.obj
/build64/eu07.dir/Release/vehiclelist.obj
/build64/eu07.dir/Release/vao.obj
/build64/eu07.dir/Release/utilities.obj
/build64/eu07.dir/Release/uitranscripts.obj
/build64/eu07.dir/Release/uilayer.obj
/build64/eu07.dir/Release/ubo.obj
/build64/eu07.dir/Release/uart.obj
/build64/eu07.dir/Release/TrkFoll.obj
/build64/eu07.dir/Release/translation.obj
/build64/eu07.dir/Release/trainingcard.obj
/build64/eu07.dir/Release/Train.obj
/build64/eu07.dir/Release/TractionPower.obj
/build64/eu07.dir/Release/Traction.obj
/build64/eu07.dir/Release/Track.obj
/build64/eu07.dir/Release/Timer.obj
/build64/eu07.dir/Release/time.obj
/build64/eu07.dir/Release/textures_scanner.obj
/build64/eu07.dir/Release/Texture.obj
/build64/eu07.dir/Release/sun.obj
/build64/eu07.dir/Release/stdafx.obj
/build64/eu07.dir/Release/stb_image.obj
/build64/eu07.dir/Release/station.obj
/build64/eu07.dir/Release/stars.obj
/build64/eu07.dir/Release/Spring.obj
/build64/eu07.dir/Release/sound.obj
/build64/eu07.dir/Release/sn_utils.obj
/build64/eu07.dir/Release/skydome.obj
/build64/eu07.dir/Release/sky.obj
/build64/eu07.dir/Release/simulationtime.obj
/build64/eu07.dir/Release/simulationstateserializer.obj
/build64/eu07.dir/Release/simulationsounds.obj
/build64/eu07.dir/Release/simulationenvironment.obj
/build64/eu07.dir/Release/simulation.obj
/build64/eu07.dir/Release/shader.obj
/build64/eu07.dir/Release/Segment.obj
/build64/eu07.dir/Release/screenshot.obj
/build64/eu07.dir/Release/scenery_scanner.obj
/build64/eu07.dir/Release/scenery_list.obj
/build64/eu07.dir/Release/scenenodegroups.obj
/build64/eu07.dir/Release/scenenode.obj
/build64/eu07.dir/Release/sceneeditor.obj
/build64/eu07.dir/Release/scene.obj
/build64/eu07.dir/Release/scenarioloadermode.obj
/build64/eu07.dir/Release/ResourceManager.obj
/build64/eu07.dir/Release/renderer.obj
/build64/eu07.dir/Release/renderbuffer.obj
/build64/eu07.dir/Release/query.obj
/build64/eu07.dir/Release/pythonscreenviewer.obj
/build64/eu07.dir/Release/PyInt.obj
/build64/eu07.dir/Release/precipitation.obj
/build64/eu07.dir/Release/postfx.obj
/build64/eu07.dir/Release/popup.obj
/build64/eu07.dir/Release/PoKeys55.obj
/build64/eu07.dir/Release/piped_proc.obj
/build64/eu07.dir/Release/perfgraphs.obj
/build64/eu07.dir/Release/pbo.obj
/build64/eu07.dir/Release/particles.obj
/build64/eu07.dir/Release/parser.obj
/build64/eu07.dir/Release/openvr_imp.obj
/build64/eu07.dir/Release/openglskydome.obj
/build64/eu07.dir/Release/openglrenderer.obj
/build64/eu07.dir/Release/openglprecipitation.obj
/build64/eu07.dir/Release/openglparticles.obj
/build64/eu07.dir/Release/openglmatrixstack.obj
/build64/eu07.dir/Release/opengllight.obj
/build64/eu07.dir/Release/openglgeometrybank.obj
/build64/eu07.dir/Release/openglcolor.obj
/build64/eu07.dir/Release/openglcamera.obj
/build64/eu07.dir/Release/opengl33skydome.obj
/build64/eu07.dir/Release/opengl33renderer.obj
/build64/eu07.dir/Release/opengl33precipitation.obj
/build64/eu07.dir/Release/opengl33particles.obj
/build64/eu07.dir/Release/opengl33light.obj
/build64/eu07.dir/Release/opengl33geometrybank.obj
/build64/eu07.dir/Release/Oerlikon_ESt.obj
/build64/eu07.dir/Release/network.obj
/build64/eu07.dir/Release/mtable.obj
/build64/eu07.dir/Release/Mover.obj
/build64/eu07.dir/Release/motiontelemetry.obj
/build64/eu07.dir/Release/moon.obj
/build64/eu07.dir/Release/Model3d.obj
/build64/eu07.dir/Release/messaging.obj
/build64/eu07.dir/Release/message.obj
/build64/eu07.dir/Release/MemCell.obj
/build64/eu07.dir/Release/MdlMngr.obj
/build64/eu07.dir/Release/material.obj
/build64/eu07.dir/Release/map_objects.obj
/build64/eu07.dir/Release/map.obj
/build64/eu07.dir/Release/manager.obj
/build64/eu07.dir/Release/lua.obj
/build64/eu07.dir/Release/LPT.obj
/build64/eu07.dir/Release/Logs.obj
/build64/eu07.dir/Release/lightarray.obj
/build64/eu07.dir/Release/launcheruilayer.obj
/build64/eu07.dir/Release/launchermode.obj
/build64/eu07.dir/Release/ladderlogic.obj
/build64/eu07.dir/Release/keymapper.obj
/build64/eu07.dir/Release/keyboardinput.obj
/build64/eu07.dir/Release/imgui_widgets.obj
/build64/eu07.dir/Release/imgui_impl_opengl3.obj
/build64/eu07.dir/Release/imgui_impl_glfw.obj
/build64/eu07.dir/Release/imgui_draw.obj
/build64/eu07.dir/Release/imgui_demo.obj
/build64/eu07.dir/Release/imgui.obj
/build64/eu07.dir/Release/headtrack.obj
/build64/eu07.dir/Release/hamulce.obj
/build64/eu07.dir/Release/glsl_common.obj
/build64/eu07.dir/Release/Globals.obj
/build64/eu07.dir/Release/glad.obj
/build64/eu07.dir/Release/geometrybank.obj
/build64/eu07.dir/Release/Gauge.obj
/build64/eu07.dir/Release/gamepadinput.obj
/build64/eu07.dir/Release/frustum.obj
/build64/eu07.dir/Release/friction.obj
/build64/eu07.dir/Release/framebuffer.obj
/build64/eu07.dir/Release/Float3d.obj
/build64/eu07.dir/Release/fence.obj
/build64/eu07.dir/Release/EvLaunch.obj
/build64/eu07.dir/Release/Event.obj
/build64/eu07.dir/Release/eu07.tlog/rc.write.1.tlog
/build64/eu07.dir/Release/eu07.tlog/rc.read.1.tlog
/build64/eu07.dir/Release/eu07.tlog/rc.command.1.tlog
/build64/eu07.dir/Release/eu07.tlog/link.write.1.tlog
/build64/eu07.dir/Release/eu07.tlog/link.read.1.tlog
/build64/eu07.dir/Release/eu07.tlog/link.command.1.tlog
/build64/eu07.dir/Release/eu07.tlog/eu07.write.1u.tlog
/build64/eu07.dir/Release/eu07.tlog/eu07.lastbuildstate
/build64/eu07.dir/Release/eu07.tlog/custombuild.write.1.tlog
/build64/eu07.dir/Release/eu07.tlog/custombuild.read.1.tlog
/build64/eu07.dir/Release/eu07.tlog/custombuild.command.1.tlog
/build64/eu07.dir/Release/eu07.tlog/CL.write.1.tlog
/build64/eu07.dir/Release/eu07.tlog/CL.read.1.tlog
/build64/eu07.dir/Release/eu07.tlog/CL.command.1.tlog
/build64/eu07.dir/Release/eu07.tlog
/build64/eu07.dir/Release/eu07.res
/build64/eu07.dir/Release/EU07.obj
/build64/eu07.dir/Release/eu07.log
/build64/eu07.dir/Release/editoruipanels.obj
/build64/eu07.dir/Release/editoruilayer.obj
/build64/eu07.dir/Release/editormouseinput.obj
/build64/eu07.dir/Release/editormode.obj
/build64/eu07.dir/Release/editorkeyboardinput.obj
/build64/eu07.dir/Release/DynObj.obj
/build64/eu07.dir/Release/dumb3d.obj
/build64/eu07.dir/Release/driveruipanels.obj
/build64/eu07.dir/Release/driveruilayer.obj
/build64/eu07.dir/Release/drivermouseinput.obj
/build64/eu07.dir/Release/drivermode.obj
/build64/eu07.dir/Release/driverkeyboardinput.obj
/build64/eu07.dir/Release/Driver.obj
/build64/eu07.dir/Release/dictionary.obj
/build64/eu07.dir/Release/dds-ktx.obj
/build64/eu07.dir/Release/cubemap.obj
/build64/eu07.dir/Release/Console.obj
/build64/eu07.dir/Release/command.obj
/build64/eu07.dir/Release/cmake_pch.pch
/build64/eu07.dir/Release/cmake_pch.obj
/build64/eu07.dir/Release/cameraview_extcam.obj
/build64/eu07.dir/Release/Camera.obj
/build64/eu07.dir/Release/Button.obj
/build64/eu07.dir/Release/buffer.obj
/build64/eu07.dir/Release/audiorenderer.obj
/build64/eu07.dir/Release/audio.obj
/build64/eu07.dir/Release/asio.obj
/build64/eu07.dir/Release/application.obj
/build64/eu07.dir/Release/AnimModel.obj
/build64/eu07.dir/Release/AirCoupler.obj
/build64/eu07.dir/Release
/build64/cmake_install.cmake
/build64/CMakeFiles/TargetDirectories.txt
/build64/CMakeFiles/generate.stamp.list
/build64/CMakeFiles/generate.stamp.depend
/build64/CMakeFiles/generate.stamp
/build64/CMakeFiles/eu07.dir/RelWithDebInfo/cmake_pch.hxx
/build64/CMakeFiles/eu07.dir/RelWithDebInfo
/build64/CMakeFiles/eu07.dir/Release/cmake_pch.hxx
/build64/CMakeFiles/eu07.dir/Release
/build64/CMakeFiles/eu07.dir/MinSizeRel/cmake_pch.hxx
/build64/CMakeFiles/eu07.dir/MinSizeRel
/build64/CMakeFiles/eu07.dir/Debug/cmake_pch.hxx
/build64/CMakeFiles/eu07.dir/Debug
/build64/CMakeFiles/eu07.dir/cmake_pch.cxx
/build64/CMakeFiles/eu07.dir
/build64/CMakeFiles/CMakeOutput.log
/build64/CMakeFiles/CMakeError.log
/build64/CMakeFiles/cmake.check_cache
/build64/CMakeFiles/82c43dbb031390b130b8e6e77c547fce/generate.stamp.rule
/build64/CMakeFiles/82c43dbb031390b130b8e6e77c547fce
/build64/CMakeFiles/3.19.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/build64/CMakeFiles/3.19.4/x64/Debug/VCTargetsPath.tlog
/build64/CMakeFiles/3.19.4/VCTargetsPath.vcxproj
/build64/CMakeFiles/3.19.4/VCTargetsPath.txt
/build64/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/build64/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/build64/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/build64/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/build64/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/build64/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/build64/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/build64/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog
/build64/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/build64/CMakeFiles/3.19.4/CompilerIdCXX/Debug
/build64/CMakeFiles/3.19.4/CompilerIdCXX/CompilerIdCXX.vcxproj
/build64/CMakeFiles/3.19.4/CompilerIdCXX/CompilerIdCXX.exe
/build64/CMakeFiles/3.19.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build64/CMakeFiles/3.19.4/CompilerIdCXX
/build64/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/build64/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/build64/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/build64/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/build64/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/build64/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/build64/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/build64/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog
/build64/CMakeFiles/3.19.4/CompilerIdC/Debug/CMakeCCompilerId.obj
/build64/CMakeFiles/3.19.4/CompilerIdC/Debug
/build64/CMakeFiles/3.19.4/CompilerIdC/CompilerIdC.vcxproj
/build64/CMakeFiles/3.19.4/CompilerIdC/CompilerIdC.exe
/build64/CMakeFiles/3.19.4/CompilerIdC/CMakeCCompilerId.c
/build64/CMakeFiles/3.19.4/CompilerIdC
/build64/CMakeFiles/3.19.4/CMakeSystem.cmake
/build64/CMakeFiles/3.19.4/CMakeRCCompiler.cmake
/build64/CMakeFiles/3.19.4/CMakeDetermineCompilerABI_CXX.bin
/build64/CMakeFiles/3.19.4/CMakeDetermineCompilerABI_C.bin
/build64/CMakeFiles/3.19.4/CMakeCXXCompiler.cmake
/build64/CMakeFiles/3.19.4/CMakeCCompiler.cmake
/build64/CMakeFiles/3.19.4
/build64/CMakeFiles
/build64/CMakeCache.txt
/build64/bin/Release/eu07-x64_2021-02-13.exe
/build64/bin/Release
/build64/ALL_BUILD.vcxproj.user
/build64/ALL_BUILD.vcxproj.filters
/build64/ALL_BUILD.vcxproj
/build64/.vs/eu07/v15/Solution.VC.db-wal
/build64/.vs/eu07/v15/Solution.VC.db-shm
/build64/.vs/eu07/v15/Solution.VC.db
/build64/.vs/eu07/v15/ipch/6d6c069e7235aba4.ipch
/build64/.vs/eu07/v15/ipch
/build64/.vs/eu07/v15/Browse.VC.opendb
/build64/.vs/eu07/v15/Browse.VC.db
/build64/.vs/eu07/v15/.suo
/build64/.vs/eu07/v15
/build64
/build/ZERO_CHECK.vcxproj.filters
/build/ZERO_CHECK.vcxproj
/build/geninc/version_info.h
/build/geninc
/build/eu07.vcxproj.filters
/build/eu07.vcxproj
/build/eu07.sln
/build/cmake_install.cmake
/build/CMakeFiles/TargetDirectories.txt
/build/CMakeFiles/generate.stamp.list
/build/CMakeFiles/generate.stamp.depend
/build/CMakeFiles/generate.stamp
/build/CMakeFiles/eu07.dir/RelWithDebInfo/cmake_pch.hxx
/build/CMakeFiles/eu07.dir/RelWithDebInfo
/build/CMakeFiles/eu07.dir/Release/cmake_pch.hxx
/build/CMakeFiles/eu07.dir/Release
/build/CMakeFiles/eu07.dir/MinSizeRel/cmake_pch.hxx
/build/CMakeFiles/eu07.dir/MinSizeRel
/build/CMakeFiles/eu07.dir/Debug/cmake_pch.hxx
/build/CMakeFiles/eu07.dir/Debug
/build/CMakeFiles/eu07.dir/cmake_pch.cxx
/build/CMakeFiles/eu07.dir
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/CMakeError.log
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/5c7035d8264cf068a1fe6511985da1dd/generate.stamp.rule
/build/CMakeFiles/5c7035d8264cf068a1fe6511985da1dd
/build/CMakeFiles/3.19.4/VCTargetsPath.vcxproj
/build/CMakeFiles/3.19.4/VCTargetsPath.txt
/build/CMakeFiles/3.19.4/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/build/CMakeFiles/3.19.4/Debug/VCTargetsPath.tlog
/build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog
/build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/build/CMakeFiles/3.19.4/CompilerIdCXX/Debug
/build/CMakeFiles/3.19.4/CompilerIdCXX/CompilerIdCXX.vcxproj
/build/CMakeFiles/3.19.4/CompilerIdCXX/CompilerIdCXX.exe
/build/CMakeFiles/3.19.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/3.19.4/CompilerIdCXX
/build/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/build/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/build/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/build/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/build/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/build/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/build/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/build/CMakeFiles/3.19.4/CompilerIdC/Debug/CompilerIdC.tlog
/build/CMakeFiles/3.19.4/CompilerIdC/Debug/CMakeCCompilerId.obj
/build/CMakeFiles/3.19.4/CompilerIdC/Debug
/build/CMakeFiles/3.19.4/CompilerIdC/CompilerIdC.vcxproj
/build/CMakeFiles/3.19.4/CompilerIdC/CompilerIdC.exe
/build/CMakeFiles/3.19.4/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.19.4/CompilerIdC
/build/CMakeFiles/3.19.4/CMakeSystem.cmake
/build/CMakeFiles/3.19.4/CMakeRCCompiler.cmake
/build/CMakeFiles/3.19.4/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/3.19.4/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.19.4/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.19.4/CMakeCCompiler.cmake
/build/CMakeFiles/3.19.4
/build/CMakeFiles
/build/CMakeCache.txt
/build/ALL_BUILD.vcxproj.user
/build/ALL_BUILD.vcxproj.filters
/build/ALL_BUILD.vcxproj
/build/.vs/eu07/v15/Solution.VC.db-wal
/build/.vs/eu07/v15/Solution.VC.db-shm
/build/.vs/eu07/v15/Solution.VC.db
/build/.vs/eu07/v15/Browse.VC.db
/build/.vs/eu07/v15/.suo
/build/.vs/eu07/v15
/build
/bin/eu07-x64.pdb
/bin/eu07-x64.lib
/bin/eu07-x64.exp
/bin/eu07-x64.exe
/bin
/asio
/.vs/maszyna/v15/ipch/9ac44fe803c1715a.ipch
/.vs/maszyna/v15/ipch/5cefdb2a97c6195a.ipch
/.vs/maszyna/v15/ipch
/.vs/maszyna/v15/Browse.VC.db
/.vs/maszyna/v15/.suo
/.vs/maszyna/v15
